
[ control mapping 00 ]
down = on
key = r
name = reset
once = off
type = key

[ control mapping 01 ]
down = on
key = n
name = neutral
once = on
type = key

[ control mapping 02 ]
down = on
key = 1
name = first_gear
once = on
type = key

[ control mapping 03 ]
down = on
key = 2
name = second_gear
once = on
type = key

[ control mapping 04 ]
down = on
key = 3
name = third_gear
once = on
type = key

[ control mapping 05 ]
down = on
key = 4
name = fourth_gear
once = on
type = key

[ control mapping 06 ]
down = on
key = 5
name = fifth_gear
once = on
type = key

[ control mapping 07 ]
down = on
key = 6
name = sixth_gear
once = on
type = key

[ control mapping 08 ]
down = on
key = BACKQUOTE
name = reverse
once = on
type = key

[ control mapping 09 ]
down = on
key = w
name = disengage_shift_up
once = on
type = key

[ control mapping 10 ]
down = on
key = s
name = disengage_shift_down
once = on
type = key

[ control mapping 11 ]
down = off
key = w
name = engage
once = on
type = key

[ control mapping 12 ]
down = off
key = s
name = engage
once = on
type = key

[ control mapping 13 ]
down = on
key = PERIOD
name = replay_ff
once = on
type = key

[ control mapping 14 ]
down = on
key = COMMA
name = replay_rw
once = on
type = key

[ control mapping 15 ]
down = on
key = F12
name = screen_shot
once = on
type = key

[ control mapping 16 ]
down = on
key = j
name = joystick_info
once = on
type = key

[ control mapping 17 ]
down = on
key = LEFTBRACKET
name = view_prev_camera
once = on
type = key

[ control mapping 18 ]
down = on
key = RIGHTBRACKET
name = view_next_camera
once = on
type = key

[ control mapping 19 ]
down = on
key = F1
name = view_hood
once = on
type = key

[ control mapping 20 ]
down = on
key = F2
name = view_incar
once = on
type = key

[ control mapping 21 ]
down = on
key = F3
name = view_chaserigid
once = on
type = key

[ control mapping 22 ]
down = on
key = F4
name = view_chase
once = on
type = key

[ control mapping 23 ]
down = on
key = F5
name = view_orbit
once = on
type = key

[ control mapping 24 ]
down = on
key = F6
name = view_free
once = on
type = key

[ control mapping 25 ]
down = on
key = F7
name = view_external
once = on
type = key

[ control mapping 26 ]
down = on
key = F8
name = view_extfollow
once = on
type = key

[ control mapping 27 ]
down = on
key = F9
name = focus_next_car
once = on
type = key

[ control mapping 28 ]
down = on
key = F10
name = focus_prev_car
once = on
type = key

[ control mapping 29 ]
down = on
key = KP4
name = pan_left
once = on
type = key

[ control mapping 30 ]
down = on
key = KP6
name = pan_right
once = on
type = key

[ control mapping 31 ]
down = on
key = KP2
name = pan_up
once = on
type = key

[ control mapping 32 ]
down = on
key = KP8
name = pan_down
once = on
type = key

[ control mapping 33 ]
down = on
key = KP_PLUS
name = zoom_in
once = off
type = key

[ control mapping 34 ]
down = on
key = KP_MINUS
name = zoom_out
once = off
type = key

[ control mapping 35 ]
down = on
key = p
name = pause
once = on
type = key

[ control mapping 36 ]
down = on
key = PAUSE
name = pause
once = on
type = key

[ control mapping 37 ]
down = on
key = UP
name = gas
once = off
type = key

[ control mapping 38 ]
down = on
key = DOWN
name = brake
once = off
type = key

[ control mapping 39 ]
down = on
key = LEFT
name = steer_left
once = off
type = key

[ control mapping 40 ]
down = on
key = RIGHT
name = steer_right
once = off
type = key

[ control mapping 41 ]
down = on
key = s
name = start_engine
once = on
type = key

[ control mapping 42 ]
down = on
key = SPACE
name = handbrake
once = off
type = key

[ control mapping 43 ]
down = on
key = a
name = abs_toggle
once = on
type = key

[ control mapping 44 ]
down = on
key = z
name = tcs_toggle
once = on
type = key
