num_options = 53

[ option-00 ]
cat = game
name = game_mode
title = Game Mode
desc = Set the game mode.
type = int
default = 0
values = list
num_vals = 3
opt00 = Free Drive
val00 = 0
opt01 = Time Trial
val01 = 1
opt02 = Networked
val02 = 2

[ option-01 ]
cat = game
name = camera_mode
title = Camera Mode
desc = Set the default camera mode.
type = int
default = 0
values = list
num_vals = 8
opt00 = view_hood
val00 = 0
opt01 = view_incar
val01 = 1
opt02 = view_chaserigid
val02 = 2
opt03 = view_chase
val03 = 3
opt04 = view_orbit
val04 = 4
opt05 = view_free
val05 = 5
opt06 = view_external
val06 = 6
opt07 = view_extfollow
val07 = 6

[ option-02 ]
cat = game
name = track
title = Track
desc = Choose the track to drive on.
type = string
default = ruudskogen
values = tracks

[ option-03 ]
cat = game
name = selected_car
title = Player Car
desc = Choose the car to drive.
type = string
default = XS
values = cars

[ option-04 ]
cat = game
name = car_paint
title = Color
desc = Choose the paint job for the car.
type = int
default = 0
values = car_paints

[ option-05 ]
cat = game
name = num_shots
title = Screen Shots Taken
desc = How many screen shots you've taken.
type = int
default = 0
values = list
num_vals = 0

[ option-06 ]
cat = network
name = host_game
title = Run as
desc = Choose to act as the server or client.
type = bool
default = false
values = bool
true = Server
false = Client

[ option-07 ]
cat = network
name = server_ip
title = Server IP
desc = Address of the server to connect to.
type = string
default = 127.0.0.1
values = ip_valid

[ option-08 ]
cat = network
name = server_port
title = Port
desc = Port on the server to connect to.
type = string
default = 1234
values = port_valid

[ option-09 ]
cat = display
name = width
title = Resolution
desc = Change the size of your screen.
type = int
default = 800
values = resolution_widths

[ option-10 ]
cat = display
name = height
title = Resolution
desc = Change the size of your screen.
type = int
default = 600
values = resolution_heights

[ option-11 ]
cat = display
name = depth
title = Color Depth
desc = Adjust the amount of colors available.
type = int
default = 16
values = list
num_vals = 2
opt00 = 16bpp
val00 = 16
opt01 = 32bpp
val01 = 32

[ option-12 ]
cat = display
name = fullscreen
title = Fullscreen
desc = Toggle fullscreen mode on or off.
type = bool
default = false
values = bool
true = On
false = Off

[ option-13 ]
cat = display
name = texture_size
title = Texture Size
desc = Change the size of the textures displayed.
type = string
default = small
values = list
num_vals = 3
opt00 = Small
val00 = small
opt01 = Medium
val01 = medium
opt02 = Large
val02 = large

[ option-14 ]
cat = display
name = show_hud
title = Heads Up Display
desc = Enable/disable the heads up display.
type = bool
default = true
values = bool
true = On
false = Off

[ option-15 ]
cat = display
name = show_fps
title = Framerate Counter
desc = Enable/disable the framerate counter.
type = bool
default = false
values = bool
true = On
false = Off

[ option-16 ]
cat = display
name = mph
title = Speed Units
desc = Change the units that speed is displayed in.
type = bool
default = true
values = bool
true = MPH
false = km/h 

[ option-17 ]
cat = display
name = view_distance
title = View Distance
desc = Change the maximum view distance.
type = float
default = 500.0
values = list
num_vals = 4
opt00 = Very Low
val00 = 200.0
opt01 = Low
val01 = 500.0
opt02 = Medium
val02 = 2500.0
opt03 = High
val03 = 10000.0

[ option-18 ]
cat = sound
name = volume
title = Sound Effects Volume
desc = Change the volume of the sound effects in the game.
type = float
default = 0.8
values = float
min = 0.0
max = 1.0
percent = true

[ option-19 ]
cat = sound
name = music_volume
title = Music Volume
desc = Change the volume of the music in the game.
type = float
default = 0.8
values = float
min = 0.0
max = 1.0
percent = true

[ option-20 ]
cat = display
name = input_graph
title = Input Graph
desc = Visualize the steering and acceleration/braking on screen.
type = bool
default = false
values = bool
true = On
false = Off

[ option-21 ]
cat = control
name = autoclutch
title = AutoClutch
desc = Enable/disable automatic clutching (prevents car from stalling).
type = bool
default = true
values = bool
true = On
false = Off

[ option-22 ]
cat = joystick
name = type
title = Joystick Type
desc = Change the type of joystick device.
type = string
default = joystick
values = list
num_vals = 2
opt00 = Joystick/Gamepad
val00 = joystick
opt01 = Steering Wheel
val01 = wheel

[ option-23 ]
cat = joystick
name = touchcomp
title = Touchiness Compensation
desc = Adjust the steering dynamics.
type = string
default = low
values = list
num_vals = 7
opt00 = Off
val00 = off
opt01 = Low
val01 = low
opt02 = Medium
val02 = med
opt03 = High
val03 = high
opt04 = 200 degree mode
val04 = 900to200
opt05 = Speed sensitive Lo
val05 = speed1
opt06 = Speed sensitive Hi
val06 = speed2

[ option-24 ]
cat = joystick
name = calibrated
title = Joystick Calibrated
desc = True if the joystick calibration routine's been run.
type = bool
default = false
values = bool
true = Yes
false = No

[ option-25 ]
cat = joystick
name = selected_index
title = Selected Joystick Index
desc = Change the current joystick.
type = int
default = 0
values = joy_indeces

[ option-26 ]
cat = game
name = record
title = Record Session
desc = Record this game for a replay later.
type = bool
default = false
values = bool
true = On
false = Off

[ option-27 ]
cat = game
name = ghost
title = Ghost Car
desc = Display a ghost car of your last lap while you drive.
type = bool
default = false
values = bool
true = On
false = Off

[ option-28 ]
cat = display
name = anisotropic
title = Anisotropic Filtering
desc = Set anisotropic filtering level for textures.
type = int
default = 0
values = anisotropy

[ option-29 ]
cat = display
name = skin
title = Menu Skin
desc = Change the graphics and layout of the VDrift menus.
type = string
default = simple
values = skins

[ option-30 ]
cat = display
name = shadows
title = Shadows
desc = Draw dynamic shadows.
type = bool
default = true
values = bool
true = On
false = Off

[ option-31 ]
cat = display
name = antialiasing
title = Antialiasing
desc = Set the full scene antialiasing level.
type = int
default = 0
values = antialiasing

[ option-32 ]
cat = game
name = antilock
title = Antilock Brakes (ABS)
desc = Help reduce wheel lockup on heavy braking (driving aid).
type = bool
default = true
values = bool
true = On
false = Off

[ option-33 ]
cat = control
name = button_ramp
title = Button Control Delay
desc = Slow down application of button inputs on analog controls.
type = float
default = 5.0
values = list
num_vals = 4
opt00 = Off
val00 = 0.0
opt01 = long
val01 = 5.0
opt02 = medium
val02 = 7.5
opt03 = short
val03 = 10.0

[ option-34 ]
cat = game
name = traction_control
title = Traction Control (TCS)
desc = Prevent wheels from spinning during acceleration.
type = bool
default = true
values = bool
true = On
false = Off

[ option-35 ]
cat = game
name = num_replays
title = Total Replays
desc = Total number of replays recorded.
type = int
default = 0
values = list
num_vals = 0

[ option-36 ]
cat = game
name = selected_replay
title = Select Replay
desc = Each number represents a replay a player has recorded.
type = string
default = 1
values = replays

[ option-37 ] 
cat = control 
name = autotrans 
title = AutoShift
desc = Enable/disable automatic transmission shifting.
type = bool 
default = true 
values = bool 
true = On 
false = Off 
 
[ option-38 ]
cat = game
name = opponent
title = Opponent
desc = The AI opponent to race against.
type = string
default = XS
values = cars

[ option-39 ]
cat = display
name = FOV
title = Field of View
desc = Field of view in the vertical direction.
type = float
default = 45.0
values = list
num_vals = 3
opt00 = Normal
val00 = 45.0
opt01 = Wide
val01 = 67.5
opt02 = Extra-wide
val02 = 90.0

[ option-40 ]
cat = display
name = lighting
title = Lighting Quality
desc = Set how good the lighting looks during gameplay.
type = int
default = 0
values = list
num_vals = 2
opt00 = Low
val00 = 0
opt01 = Medium
val01 = 1

[ option-41 ]
cat = display
name = reflections
title = Reflection Quality
desc = Set how good the reflections look during gameplay.
type = int
default = 0
values = list
num_vals = 3
opt00 = Low
val00 = 0
opt01 = Medium
val01 = 1
opt02 = High
val02 = 2

[ option-42 ]
cat = game
name = number_of_laps
title = Number of Laps
desc = Set the number of laps for a single race.
type = int
default = 1
values = list
num_vals = 4
opt00 = 1
val00 = 1
opt01 = 2
val01 = 2
opt02 = 3
val02 = 3
opt03 = 4
val03 = 4

[ option-43 ]
cat = joystick
name = ff_device
title = Force Feedback Device
desc = Device file for force feedback events.
type = string
default = /dev/input/event0
values = list
num_vals = 0

[ option-44 ]
cat = joystick
name = ff_gain
title = Force Feedback Gain
desc = Multiplier to adjust strength of force feedback.
type = float
default = 2.0
values = float
min = 0.5
max = 5.0
percent = true

[ option-45 ]
cat = game
name = reverse
title = Reverse Track
desc = Race on this track backwards.
type = bool
default = false
values = bool
true = On
false = Off

[ option-46 ]
cat = joystick
name = ff_invert
title = Invert Force
desc = Reverse the force feedback, if necessary for your wheel.
type = bool
default = false
values = bool
true = On
false = Off

[ option-47 ]
cat = game
name = opponents
title = Opponents
desc = The AI opponents to race against.
type = string
values = string
default =

[ option-48 ]
cat = control
name = speed_sens_steering
title = Speed Affect on Steering
desc = The higher the value on this setting, the more steering is limited as car speed increases.
type = float
default = 0.0
values = float
min = 0.0
max = 1.0
percent = true

[ option-49 ]
cat = joystick
name = two_hundred
title = 200 Degree Wheel
desc = Limit steering range to 200 degrees, gives a realistic feel to limited range wheels. 
type = bool
default = false
values = bool
true = On
false = Off

[ option-50 ]
cat = display
name = trackmap
title = Track Map
desc = Display a track map.
type = bool
default = false
values = bool
true = On
false = Off

[ option-51 ]
cat = display
name = shaders
title = Shaders
desc = Turning off shaders will speed up rendering at the cost of visual quality.
type = bool
default = true
values = bool
true = On
false = Off

[ option-52 ]
cat = display
name = motionblur
title = Motion Blur
desc = Fast moving objects blur slightly.
type = bool
default = false
values = bool
true = On
false = Off
