[ main ]
version = 2006-10-06

[ game ]
game_mode = 0
camera_mode = 3
selected_car = TL
car_paint = 0
track = zandvoort
record = off
ghost = off
num_shots = 0
antilock = off
traction_control = on

[ network ]
host_game = 1
server_port = 1234
server_ip = 127.0.0.1

[ display ]
width = 800
height = 600
depth = 16
texture_size = medium
show_hud = on
show_fps = off
mph = on
view_distance = 2500.000000
fullscreen = off
anisotropic = 0
antialiasing = 0
input_graph = off
car_shadows = on
skin = simple

[ sound ]
volume = 0.750000
music_volume = 0.42

[ mouse ]
xsens = 1.000000
ydead = 0.200000
ysens = 0.900000
enabled = 0

[ control ]
autoclutch = off
profile = joystick
button_ramp = 0.0

[ joystick ]
type = joystick
touchcomp = off
deadzone = off
calibrated = off
selected_index = 0

